.modal{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.809);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal > div{
    display: flex;
    background-color: blue;
    border-radius: 10px;
    aspect-ratio: 16/9;
    width: 80%;
    max-height: 80%;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/030/861/673/original/ayman-wadud-shareable-omen.gif?1601898648);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.container > h1{
    font-size: 40px;
    margin: 50px 0;
}

.info{
    margin-left: 50px;
    max-width: 70%;
    margin-bottom: 50px;
}

.abilities{
    position: absolute;
    bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 70%;
    width: 100%;
}

.abilities > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.abilities > div > img {
    max-width: 100px;

}

.abilities > div > div {
    position: absolute;
    top: 120px;
    text-align: center;
}

.abilities > div > div > p {
    margin: 0;
}