.agent {
    background-color: #042e27;
    text-align: center;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
    cursor: pointer;
}

.agent h1 {
    font-size: 16px;
    color: #042e27;
    text-align: center;
}

.agent img {
    height: 350px;
}

.agent p {
    margin: 10px;
    color: #b78460;
}

h3 {
    color: #b38c8f;
}
h2 {
    color: #dc3d4b;
    text-shadow: 0px 0px 5px black;
}

.abilities {
    text-align: center;
    background-color: #042e27ee;
}

.ability {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.ability p {
    color: #b78460;
    font-weight: 500;
    font-size: 18px;
}

.ability img {
    height: 50px;
    margin: 10px 0 20px 0;
}

.ability span {
    color: #b38c8f;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 800px;
    overflow-y: scroll;
    background-color: #042e27ee;
    padding: 10px;
    outline: none;
}

.close {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.close svg {
    color: #dc3d4b;
    font-size: 28px;
    cursor: pointer;
    margin: 5px;
}